.bg1{
  background-color:   white;
  background-image: url('tree1.jpg') ;
  color: white;
}
#col{
  color: White;
}
#col1{
  color: White;
}
.bg2{
  background-color:  #ffe6ff;
}
.bg3{
  background-color: 	#e6eeff;
  color: black;
}
.bg4{
  background-color: 	white;
  color: black;
}

.container-fluid{
  padding-top:  5px;
  padding-bottom: 5px;
}
@media only screen and (min-width: 1200px) {
.register {
position: absolute;
left: 88%;
}
}
a[href^="mailto"]::before {
    content: "📧 ";
}

a[href^="tel"]::before {
    content: "📞 ";
}
